*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
documents/1024/1022_PROCTOR[[:space:]]v.[[:space:]]STATE.pdf filter=lfs diff=lfs merge=lfs -text
documents/1024/1022_WAGNER[[:space:]]v.[[:space:]]STATE.pdf filter=lfs diff=lfs merge=lfs -text
documents/1024/1022_YISRAEL[[:space:]]v.[[:space:]]STATE[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US[[:space:]]v.[[:space:]]De[[:space:]]Vaughn.pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US[[:space:]]v.[[:space:]]Riojas.pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US-v.-Coil.pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US-v.-Combs.pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US-v.-Dávila-González.pdf filter=lfs diff=lfs merge=lfs -text
documents/1034/1031_US-v.-Jacobo[[:space:]]Castillo.pdf filter=lfs diff=lfs merge=lfs -text
documents/1041/1041_5A-12.pdf filter=lfs diff=lfs merge=lfs -text
documents/1041/1041_In[[:space:]]Re[[:space:]]Lynchs[[:space:]]Estate.pdf filter=lfs diff=lfs merge=lfs -text
documents/1063/Fact[[:space:]]Sheet[[:space:]]-[[:space:]][[:space:]]Equipment[[:space:]]Finance[[:space:]]in[[:space:]]the[[:space:]]IT[[:space:]]and[[:space:]]Computer[[:space:]]Sector.pdf filter=lfs diff=lfs merge=lfs -text
documents/1063/Fact[[:space:]]Sheet[[:space:]]-[[:space:]]Equipment[[:space:]]Finance[[:space:]]in[[:space:]]the[[:space:]]Industrial[[:space:]]and[[:space:]]Manufacturing[[:space:]]Industry.pdf filter=lfs diff=lfs merge=lfs -text
documents/1148/Frank[[:space:]]Bader[[:space:]]Case[[:space:]]File.pdf filter=lfs diff=lfs merge=lfs -text
documents/1152/AAP-Immunization-Schedule.pdf filter=lfs diff=lfs merge=lfs -text
documents/1167/The[[:space:]]State[[:space:]]v.[[:space:]]Wierson.pdf filter=lfs diff=lfs merge=lfs -text
documents/1186/42U.S.C.9621.pdf filter=lfs diff=lfs merge=lfs -text
documents/1186/54U.S.C.306108.pdf filter=lfs diff=lfs merge=lfs -text
documents/1189/Franchise[[:space:]]Tax[[:space:]]Computation.pdf filter=lfs diff=lfs merge=lfs -text
documents/1226/15[[:space:]]CFR[[:space:]]772.1.pdf filter=lfs diff=lfs merge=lfs -text
documents/1226/49[[:space:]]CFR[[:space:]]173.185.pdf filter=lfs diff=lfs merge=lfs -text
documents/1230/COFFEY[[:space:]]GARCIA[[:space:]]v.[[:space:]]SOUTH[[:space:]]MIAMI[[:space:]]HOSPITAL[[:space:]]INC[[:space:]](2016)[[:space:]]_[[:space:]]FindLaw.pdf filter=lfs diff=lfs merge=lfs -text
documents/1230/Machado[[:space:]]v.[[:space:]]Da[[:space:]]Vittorio,[[:space:]]LLC,[[:space:]]No.[[:space:]]1_2009cv23069[[:space:]]-[[:space:]]Document[[:space:]]74[[:space:]](S.D.[[:space:]]Fla.[[:space:]]2010)[[:space:]]__[[:space:]]Justia.pdf filter=lfs diff=lfs merge=lfs -text
documents/1246/BPC_25607.pdf filter=lfs diff=lfs merge=lfs -text
documents/1246/City[[:space:]]of[[:space:]]Long[[:space:]]Beach[[:space:]]v.[[:space:]]Mansell.pdf filter=lfs diff=lfs merge=lfs -text
documents/1246/GOV_51039.pdf filter=lfs diff=lfs merge=lfs -text
documents/1246/PEN_597.1.pdf filter=lfs diff=lfs merge=lfs -text
documents/1258/Archer-Daniels-Midland[[:space:]]Company[[:space:]](ADM)[[:space:]]Stock[[:space:]]Price,[[:space:]]News,[[:space:]]Quote[[:space:]]&[[:space:]]History[[:space:]]-[[:space:]]Yahoo[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
documents/1258/Corteva,[[:space:]]Inc.[[:space:]](CTVA)[[:space:]]Stock[[:space:]]Price,[[:space:]]News,[[:space:]]Quote[[:space:]]&[[:space:]]History[[:space:]]-[[:space:]]Yahoo[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
documents/1258/Deere[[:space:]]&[[:space:]]Company[[:space:]](DE)[[:space:]]Stock[[:space:]]Price,[[:space:]]News,[[:space:]]Quote[[:space:]]&[[:space:]]History[[:space:]]-[[:space:]]Yahoo[[:space:]]Finance.pdf filter=lfs diff=lfs merge=lfs -text
documents/1295/Document[[:space:]]C.pdf filter=lfs diff=lfs merge=lfs -text
documents/13/13_Airtechv.MacDonald.pdf filter=lfs diff=lfs merge=lfs -text
documents/13/13_FlaStat.319.30.pdf filter=lfs diff=lfs merge=lfs -text
documents/13/13_FlaStat.626.9743.pdf filter=lfs diff=lfs merge=lfs -text
documents/13/13_McHalev.FarmBureau.pdf filter=lfs diff=lfs merge=lfs -text
documents/13/13_Sieglev.Progressive.pdf filter=lfs diff=lfs merge=lfs -text
documents/1318/Jenn[[:space:]]Castro[[:space:]]Case[[:space:]]File.pdf filter=lfs diff=lfs merge=lfs -text
documents/1323/CA[[:space:]]PEN[[:space:]]§[[:space:]]459.pdf filter=lfs diff=lfs merge=lfs -text
documents/1346/California[[:space:]]Penal[[:space:]]Code[[:space:]]602.pdf filter=lfs diff=lfs merge=lfs -text
documents/1361/UCC[[:space:]]Article[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
documents/1366/1366_Alvarado[[:space:]]v.[[:space:]]Black.pdf filter=lfs diff=lfs merge=lfs -text
documents/1366/1366_Hassett[[:space:]]v.[[:space:]]City[[:space:]]of[[:space:]]New[[:space:]]Haven.pdf filter=lfs diff=lfs merge=lfs -text
documents/1366/1366_Jones[[:space:]]v.[[:space:]]Kramer.pdf filter=lfs diff=lfs merge=lfs -text
documents/1366/1366_Marciano[[:space:]]v.[[:space:]]Jimenez.pdf filter=lfs diff=lfs merge=lfs -text
documents/1371/1371_Cardwell[[:space:]]v.[[:space:]]Commonwealth_248[[:space:]]Va.[[:space:]]501.pdf filter=lfs diff=lfs merge=lfs -text
documents/1371/1371_Hoyt[[:space:]]v.[[:space:]]Commonwealth_44[[:space:]]Va.[[:space:]]App.[[:space:]]489[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
documents/1371/1371_Pritchard[[:space:]]v.[[:space:]]Commonwealth_225[[:space:]]Va.[[:space:]]559.pdf filter=lfs diff=lfs merge=lfs -text
documents/1371/1371_Walker[[:space:]]v.[[:space:]]Commonwealth_74[[:space:]]Va.[[:space:]]App.[[:space:]]475.pdf filter=lfs diff=lfs merge=lfs -text
documents/1373/Attachment1373.docx filter=lfs diff=lfs merge=lfs -text
documents/1379/ENOXAPARIN[[:space:]]SO.pdf filter=lfs diff=lfs merge=lfs -text
documents/1381/TRAM.pdf filter=lfs diff=lfs merge=lfs -text
documents/1382/Convention[[:space:]]on[[:space:]]Conduct[[:space:]]of[[:space:]]Fishing[[:space:]]Operations[[:space:]]in[[:space:]]the[[:space:]]North[[:space:]]Atlantic.pdf filter=lfs diff=lfs merge=lfs -text
documents/1394/AAP-Immunization-Schedule.pdf filter=lfs diff=lfs merge=lfs -text
documents/1398/Lily[[:space:]]Strum[[:space:]]Case[[:space:]]File.pdf filter=lfs diff=lfs merge=lfs -text
documents/1398/Lily[[:space:]]Strum[[:space:]]Medical[[:space:]]Opinion[[:space:]]Statement.pdf filter=lfs diff=lfs merge=lfs -text
documents/1403/Attachment1403.docx filter=lfs diff=lfs merge=lfs -text
documents/1407/Attachment1407[[:space:]].docx filter=lfs diff=lfs merge=lfs -text
documents/1421/Attachment[[:space:]]1421.docx filter=lfs diff=lfs merge=lfs -text
documents/1427/BNF.pdf filter=lfs diff=lfs merge=lfs -text
documents/1427/NICE.pdf filter=lfs diff=lfs merge=lfs -text
documents/1434/CDCAI.pdf filter=lfs diff=lfs merge=lfs -text
documents/1444/Chart[[:space:]]1444.pdf filter=lfs diff=lfs merge=lfs -text
documents/1450/NVCME.pdf filter=lfs diff=lfs merge=lfs -text
documents/1456/givinostat.pdf filter=lfs diff=lfs merge=lfs -text
documents/1461/Patient[[:space:]]consultation[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
documents/1462/n_nexplanon_nexplanon_pi.pdf filter=lfs diff=lfs merge=lfs -text
documents/1464/DD-2808-Report-of-Medical-Examination.pdf filter=lfs diff=lfs merge=lfs -text
documents/1464/dd2807[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
documents/1480/rapm-2024-105766.full.pdf filter=lfs diff=lfs merge=lfs -text
documents/1484/Antibiogram.pdf filter=lfs diff=lfs merge=lfs -text
documents/1493/1493[[:space:]]contract.pdf filter=lfs diff=lfs merge=lfs -text
documents/1494/Document[[:space:]]A.pdf filter=lfs diff=lfs merge=lfs -text
documents/1505/ACOG.pdf filter=lfs diff=lfs merge=lfs -text
documents/1507/PA[[:space:]]wegovy.pdf filter=lfs diff=lfs merge=lfs -text
documents/1588/ConSup[[:space:]]Inc[[:space:]]Financial[[:space:]]Model_PROMPT.xlsx filter=lfs diff=lfs merge=lfs -text
documents/1757/Crossman[[:space:]]v.[[:space:]].[[:space:]]Crossman[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
documents/1757/In[[:space:]]re[[:space:]]Lewis[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
documents/1943/2024_Chevron_10-K.pdf filter=lfs diff=lfs merge=lfs -text
documents/1943/2024_MPC_10-K.pdf filter=lfs diff=lfs merge=lfs -text
documents/1943/VLO_2024_10-K.pdf filter=lfs diff=lfs merge=lfs -text
documents/2056/H&R[[:space:]]REIT[[:space:]]Q2[[:space:]]2025[[:space:]]MD&A.pdf filter=lfs diff=lfs merge=lfs -text
documents/2061/Direct_lending_market_update.pdf filter=lfs diff=lfs merge=lfs -text
documents/2061/direct-lending-update-spring-2024.pdf filter=lfs diff=lfs merge=lfs -text
documents/2085/52W_OHLCV.pdf filter=lfs diff=lfs merge=lfs -text
documents/2085/Financial_Statements.pdf filter=lfs diff=lfs merge=lfs -text
documents/2088/2024-bt-group-plc-annual-report.pdf filter=lfs diff=lfs merge=lfs -text
documents/2108/Nike-Inc-2025[[:space:]]Form-10K[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
documents/2120/Nikkei225.pdf filter=lfs diff=lfs merge=lfs -text
documents/2120/S&P500.pdf filter=lfs diff=lfs merge=lfs -text
documents/2145/Beta.pdf filter=lfs diff=lfs merge=lfs -text
documents/2147/Franklin[[:space:]]Templeton[[:space:]]-[[:space:]]2025[[:space:]]Private[[:space:]]Markets[[:space:]]Outlook[[:space:]](Private[[:space:]]Credit[[:space:]]methodology).pdf filter=lfs diff=lfs merge=lfs -text
documents/2147/houlihan-lokey-july-2025-private-credit-newsletter.pdf filter=lfs diff=lfs merge=lfs -text
documents/2147/iCapital-Alternatives-Decoded-Q2-2025-Private-Credit.pdf filter=lfs diff=lfs merge=lfs -text
documents/2194/Apparel_and_Footwear_in_Brazil[[:space:]]2.pdf filter=lfs diff=lfs merge=lfs -text
documents/2194/Track[[:space:]]&[[:space:]]Field[[:space:]]Earnings[[:space:]]Release[[:space:]]4Q24.pdf filter=lfs diff=lfs merge=lfs -text
documents/2202/Google[[:space:]]Breakup[[:space:]]-[[:space:]]Forbes.pdf filter=lfs diff=lfs merge=lfs -text
documents/2202/Waymo[[:space:]]Stats[[:space:]]2025.pdf filter=lfs diff=lfs merge=lfs -text
documents/2208/20241126_Partners[[:space:]]Group_Private[[:space:]]Markets[[:space:]]Outlook[[:space:]]2025.pdf filter=lfs diff=lfs merge=lfs -text
documents/2208/Debt_Market_Insight-Raymond[[:space:]]James[[:space:]]Investment[[:space:]]Banking.pdf filter=lfs diff=lfs merge=lfs -text
documents/2208/bain-report_global-private-equity-report-2025.pdf filter=lfs diff=lfs merge=lfs -text
documents/2211/Private[[:space:]]Credit[[:space:]]2025-Chambers[[:space:]]Global[[:space:]]Practice[[:space:]]Guide.pdf filter=lfs diff=lfs merge=lfs -text
documents/2211/Private-Fund-Fees-and-Expenses-Direct-Lending(Cliffwater[[:space:]]LLC).pdf filter=lfs diff=lfs merge=lfs -text
documents/2211/Proskauer[[:space:]]Releases[[:space:]]Annual[[:space:]]Private[[:space:]]Credit[[:space:]]Insights[[:space:]]Report.pdf filter=lfs diff=lfs merge=lfs -text
documents/2213/PDF[[:space:]]2[[:space:]]-[[:space:]]Press[[:space:]]Release[[:space:]]-[[:space:]]Sunoco[[:space:]]LP[[:space:]]acquisition.pdf filter=lfs diff=lfs merge=lfs -text
documents/2213/PDF[[:space:]]3[[:space:]]-[[:space:]]Parkland[[:space:]]Acquisition[[:space:]]Presentation[[:space:]]FINAL.pdf filter=lfs diff=lfs merge=lfs -text
documents/2213/PDF[[:space:]]4[[:space:]]-[[:space:]]Sunoco[[:space:]]Q4[[:space:]]2024[[:space:]]earnings[[:space:]]press[[:space:]]release.pdf filter=lfs diff=lfs merge=lfs -text
documents/2213/PDF[[:space:]]5[[:space:]]-[[:space:]]Parkland[[:space:]]Reports[[:space:]]Fourth[[:space:]]Quarter[[:space:]]and[[:space:]]Year-End[[:space:]]2024[[:space:]]Results;[[:space:]]Initiates[[:space:]]Review[[:space:]]of[[:space:]]Strategic[[:space:]]Alternatives[[:space:]]_[[:space:]]Parkland[[:space:]]Corporation.pdf filter=lfs diff=lfs merge=lfs -text
documents/2217/Coinbase_Form_10-K_Condensed.pdf filter=lfs diff=lfs merge=lfs -text
documents/2217/Coinbase_Form_10-Q_Condensed.pdf filter=lfs diff=lfs merge=lfs -text
documents/2217/Coinbase_Trading_History.pdf filter=lfs diff=lfs merge=lfs -text
documents/2223/PDF[[:space:]]1[[:space:]]-[[:space:]]Rockpoint[[:space:]]Gas[[:space:]]Storage[[:space:]]Inc.[[:space:]]-[[:space:]]IPO[[:space:]]Roadshow[[:space:]]Presentation[[:space:]](October[[:space:]]2025).pdf filter=lfs diff=lfs merge=lfs -text
documents/2226/Kinross[[:space:]]-[[:space:]]4Q24[[:space:]]press[[:space:]]release.pdf filter=lfs diff=lfs merge=lfs -text
documents/2234/Coupang[[:space:]]2024[[:space:]]10K.pdf filter=lfs diff=lfs merge=lfs -text
documents/2273/Lincoln-VOG-Private-Market-Perspectives_Q2_2025.pdf filter=lfs diff=lfs merge=lfs -text
documents/2273/Q2_2025-Fashion-and-Apparel-Quarterly-Review.pdf filter=lfs diff=lfs merge=lfs -text
documents/2273/india-pe-vc-exit-landscape-tale-of-two-halves.pdf filter=lfs diff=lfs merge=lfs -text
documents/2288/Ford_Form_10-K_Condensed.pdf filter=lfs diff=lfs merge=lfs -text
documents/2288/Ford_Form_10-Q[[:space:]](Q2-2024)_Condensed.pdf filter=lfs diff=lfs merge=lfs -text
documents/2288/Ford_Form_10-Q[[:space:]](Q2-2025)_Condensed.pdf filter=lfs diff=lfs merge=lfs -text
documents/2301/Balance[[:space:]]Labs,[[:space:]]Inc.[[:space:]](BLNC)[[:space:]]Balance[[:space:]]Sheet.pdf filter=lfs diff=lfs merge=lfs -text
documents/2301/Balance[[:space:]]Labs,[[:space:]]Inc.[[:space:]](BLNC)[[:space:]]Financials.pdf filter=lfs diff=lfs merge=lfs -text
documents/2301/Balance[[:space:]]Labs,[[:space:]]Inc.[[:space:]](BLNC)[[:space:]]Income[[:space:]]Statement.pdf filter=lfs diff=lfs merge=lfs -text
documents/2317/TEF[[:space:]]DE[[:space:]]-[[:space:]]2019[[:space:]]year-end[[:space:]]report.pdf filter=lfs diff=lfs merge=lfs -text
documents/2317/TEF[[:space:]]DE[[:space:]]-[[:space:]]2020[[:space:]]annual[[:space:]]report[[:space:]](condensed).pdf filter=lfs diff=lfs merge=lfs -text
documents/2317/TEF[[:space:]]DE[[:space:]]-[[:space:]]2021[[:space:]]annual[[:space:]]report[[:space:]](condensed).pdf filter=lfs diff=lfs merge=lfs -text
documents/2317/Telefonica[[:space:]]-[[:space:]]TEF[[:space:]]DE,[[:space:]]Telxius[[:space:]]deal[[:space:]]-[[:space:]]press[[:space:]]release.pdf filter=lfs diff=lfs merge=lfs -text
documents/2333/Chemicals[[:space:]]&[[:space:]]Specialty[[:space:]]Materials.pdf filter=lfs diff=lfs merge=lfs -text
documents/2333/Nasdaq[[:space:]]Initial[[:space:]]Listing[[:space:]]Guide”.pdf filter=lfs diff=lfs merge=lfs -text
documents/2333/Order[[:space:]]Making[[:space:]]Fiscal[[:space:]]Year[[:space:]]2026[[:space:]]Annual[[:space:]]Adjustments[[:space:]]to[[:space:]]Registration[[:space:]]Fee[[:space:]]Rates.pdf filter=lfs diff=lfs merge=lfs -text
documents/2349/UMB-Acq-of-Heartland-Financial-Apr29-2024.pdf filter=lfs diff=lfs merge=lfs -text
documents/846/CACI-1801-1802.pdf filter=lfs diff=lfs merge=lfs -text
documents/846/Hughes[[:space:]]v[[:space:]]Pair.pdf filter=lfs diff=lfs merge=lfs -text
documents/947/942_PEOPLE[[:space:]]v.[[:space:]]CROMER.pdf filter=lfs diff=lfs merge=lfs -text
documents/1022/1022_PROCTOR[[:space:]]v.[[:space:]]STATE.pdf filter=lfs diff=lfs merge=lfs -text
documents/1022/1022_WAGNER[[:space:]]v.[[:space:]]STATE.pdf filter=lfs diff=lfs merge=lfs -text
documents/1022/1022_YISRAEL[[:space:]]v.[[:space:]]STATE[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US[[:space:]]v.[[:space:]]De[[:space:]]Vaughn.pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US[[:space:]]v.[[:space:]]Riojas.pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US-v.-Coil.pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US-v.-Combs.pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US-v.-Dávila-González.pdf filter=lfs diff=lfs merge=lfs -text
documents/1031/1031_US-v.-Jacobo[[:space:]]Castillo.pdf filter=lfs diff=lfs merge=lfs -text
documents/1155/AAP-Immunization-Schedule.pdf filter=lfs diff=lfs merge=lfs -text
documents/1184/42U.S.C.9621.pdf filter=lfs diff=lfs merge=lfs -text
documents/1184/54U.S.C.306108.pdf filter=lfs diff=lfs merge=lfs -text
documents/1359/AAP-Immunization-Schedule.pdf filter=lfs diff=lfs merge=lfs -text
documents/845/CACI-1801-1802.pdf filter=lfs diff=lfs merge=lfs -text
documents/845/Hughes[[:space:]]v[[:space:]]Pair.pdf filter=lfs diff=lfs merge=lfs -text
documents/942/942_PEOPLE[[:space:]]v.[[:space:]]CROMER.pdf filter=lfs diff=lfs merge=lfs -text
